/args
/bin
/hack/tools/bin
/.kube-secrets
/tmp/*
/dev
*.test

*.coverprofile
/cover.out
*coverprofile.out
*.html
.vscode
.idea
.DS_Store
*~

TODO
.vagrant
config.ign.merged
config.img
config.vmdk
launch.env
